<%_ if (styleLibrary === 'octo' ) { _%>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" style="background: #122E51;" role="banner">
    <div class="usa-navbar">
        <div class="usa-logo" id="extended-logo">
            <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home" style="color: #FFFFFF;"><%= baseName %></a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>
</header>
<div class="usa-header usa-header--extended header-bkg ">
<nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner"><button class="usa-nav__close"><img src="/content/images/uswds/close.svg" alt="close"></button>
        <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
                <button class="usa-nav__link" aria-controls="extended-nav-section-one">
                    <span>Section</span>
                </button>
            </li>
            <!--<li class="usa-nav__primary-item">-->
                <!--<button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false" aria-controls="extended-nav-section-one">-->
                    <!--<span>{{sections.sectionName1}}</span>-->
                <!--</button>-->
                <!--<ul id="extended-nav-section-one" class="usa-nav__submenu">-->
                    <!--<li class="usa-nav__submenu-item">-->
                        <!--<a href="#">Navigation link</a>-->
                    <!--</li>-->
                    <!--<li class="usa-nav__submenu-item">-->
                        <!--<a href="#">Navigation link</a>-->
                    <!--</li>-->
                    <!--<li class="usa-nav__submenu-item">-->
                        <!--<a href="#">Navigation link</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
        <div class="usa-nav__secondary">
            <form class="usa-search usa-search--small" style="display: flex">
                <a *ngIf="!isAuthenticated()" href="javascript:void(0)" (click)="login()" style="color: white; width: 4em; text-decoration: none">Sign in</a>
                <a *ngIf="isAuthenticated()" href="javascript:void(0)" style="color: white; width: 14em; text-decoration: none">Welcome, {{this.userName}}</a>
                <div role="search">
                    <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
                    <input class="usa-input" id="extended-search-field-small" type="search" name="search" placeholder="Search our site">
                    <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
                </div>
            </form>
        </div>
    </div>
</nav>
</div>
<%_ } else if (styleLibrary === 'uswds') { _%>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" role="banner"><div class="usa-navbar">
        <div class="usa-logo" id="extended-logo">
            <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">Project title</a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>
    <nav role="navigation" class="usa-nav">
        <div class="usa-nav__inner"><button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
            <ul class="usa-nav__primary usa-accordion"><li class="usa-nav__primary-item">
                <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false" aria-controls="extended-nav-section-one"><span>Section</span></button>
                    <ul id="extended-nav-section-one" class="usa-nav__submenu">
                        <!--<li class="usa-nav__submenu-item">
                            <a href="#">Navigation link</a>
                        </li>-->
<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                    </li>
                    <li class="usa-nav__primary-item">
                        <button *<%=jhiPrefix%>HasAnyAuthority="'ROLE_ADMIN'" class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="extended-nav-section-two"><span>Admin</span></button>
                        <ul *<%=jhiPrefix%>HasAnyAuthority="'ROLE_ADMIN'" id="extended-nav-section-two" class="usa-nav__submenu">
                        <%_ if (applicationType === 'gateway' && serviceDiscoveryType) { _%>
                            <li class="usa-nav__submenu-item">
                                <a routerLink="admin/gateway">Gateway</a>
                            </li>
                        <%_ } _%>
                        <%_ if (!skipUserManagement) { _%>
                            <li class="usa-nav__submenu-item">
                                <a routerLink="admin/user-management">User management</a>
                            </li>
                        <%_ } _%>
                        <%_ if (websocket === 'spring-websocket') { _%>
                            <li class="usa-nav__submenu-item">
                                <a routerLink="admin/<%= jhiPrefixDashed %>-tracker">User tracker</a>
                            </li>
                        <%_ } _%>
                            <li class="usa-nav__submenu-item">
                                <a routerLink="admin/<%= jhiPrefixDashed %>-metrics">Metrics</a>
                            </li>
                            <li class="usa-nav__submenu-item">
                                <a routerLink="admin/<%= jhiPrefixDashed %>-health">Health</a>
                            </li>
                             <li class="usa-nav__submenu-item">
                                <a routerLink="admin/<%= jhiPrefixDashed %>-configuration">Configuration</a>
                            </li>
                        <%_ if (databaseType !== 'no' && databaseType !== 'cassandra') { _%>
                             <li class="usa-nav__submenu-item">
                                 <a routerLink="admin/audits">Audits</a>
                             </li>
                        <%_ } _%>
                         <li class="usa-nav__submenu-item">
                             <a routerLink="admin/logs">Logs</a>
                         </li>
                          <li class="usa-nav__submenu-item">
                              <a routerLink="admin/docs">API</a>
                          </li>
                        </ul>
                    <div class="usa-nav__secondary">
                    <ul class="usa-nav__secondary-links" *ngIf="!isAuthenticated()">
                        <li class="usa-nav__secondary-item">
                            <a class="usa-button usa-button--unstyled" (click)="login()">Sign in</a>
                        </li>
                    </ul>
                    <ul class="usa-nav__secondary-links" *ngIf="isAuthenticated()">
                        <li class="usa-nav__secondary-item">
                            <a class="usa-button usa-button--unstyled" (click)="login()">Sign out</a>
                        </li>
                    </ul>
                    <form class="usa-search usa-search--small ">
                            <div role="search">
                                <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
                                <input class="usa-input" id="extended-search-field-small" type="search" name="search">
                                <button class="usa-button" type="submit" style="background-color: #005ea2">
                                    <span class="usa-sr-only">Search</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<%_ } _%>
